html{
    background-color: #EDEDED;
    font-family: arial;
}

h2{
    color: rgb(68,68,68);
    text-align: center;
    font-weight: 800;
    font-size: 42px;
    margin: 0px;
}

#game-container{
    border: black solid 2px;
    height: 50%;
    width: 50%;
    margin: auto;
    
    display: block;
}

.row{
    display: flex;
}

.col{
    flex: auto;
    background-color:white;
    
}

.settings-menu{
    display: flex;
}

.grid-dimension{
    flex: auto;
    width: 100%;
}

.slider{
    width: 100%;
}
.setting-background{
    background-color: rgb(36, 36, 36);
    padding-bottom: 8px;
    padding-inline: 12px;
    margin-inline: -10px;
    margin-bottom: 12px;
    padding-top: 2px;
}

.setting-background h3{
    text-align: center;
    color: white;
}

.grid-dimension h4{
    color: white;
    text-align: center;
}

.color-mode{
    flex: auto;
    text-align:center;
    width: 100%;
    height: auto;
    padding-top: 24px;
}

label{
    color: white;
    font-weight: 700;
}

select{
    width: 100px;
    height: 40px;
    text-align: center;
    margin-inline: 12px;
    border-radius: 8px;
}

.clear{
    flex: auto;
    width: 100%;
    text-align: center;
    padding-top: 24px;
}

.clear-canvas{
    width: 50%;
    height: 40px;
    background-color: #EDEDED;
    border-radius: 8px;
    transition: 0.2s ease-in;
    border: none;
}

.clear-canvas:hover{
    background-color: darkgrey;
}