html{
    background-color: #EDEDED;
    font-family: arial;
}

h2{
    color: rgb(68,68,68);
    text-align: center;
    font-weight: 800;
    font-size: 42px;
    margin-top: -5px;
}

#game-container{
    border: black solid 2px;
    height: 475px;
    width: 475px;
    margin: auto;
    margin-top: -24px;
    display: block;
}

.row{
    display: flex;
}

.col{
    flex: auto;
    background-color:white;
    transition: 0.1s ease-in;
}

.col:hover{
    background-color: black;
}